{% load rhweb_tags %}






<div class="col">

    <table id="stock-table" class="table table-striped table-bordered" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Total Return</th>
            <th>Percent Return</th>
            <th>Equity</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Total Return</th>
            <th>Percent Return</th>
            <th>Equity</th>
        </tr>
        </tfoot>
        <tbody>

            {% for security in data.securities %}
                {% if security.watchlist %}{% else %}
                    {% if security.security %}
                        {% with s=security|parse_security %}

                            <tr>
                                <td>
                                    {% if security.security.simple_name == None %}
                                        {{ security.security.name|truncatechars:20 }}
                                    {% else %}
                                        {{ security.security.simple_name|truncatechars:20 }}
                                    {% endif %}
                                </td>
                                <td>{{ s.symbol }}</td>
                                <td>{{ s.shares|round_it:0 }}</td>
                                <td>{% profit_total s.price s.last s.shares %}</td>
                                <td>{% profit_percent s.price s.last s.shares %}</td>
                                <td>{% my_multiply s.last s.shares %}</td>
                            </tr>

                        {% endwith %}
                    {% else %}

                        <p>Security not found for instrument: {{ security.instrument }}</p>

                    {% endif %}
                {% endif %}
            {% endfor %}

        </tbody>
    </table>

</div>
