
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
        {
            "symbols": [
            {
                "description": "DOW 30",
                "proName": "DJ:DJI"
            },
            {
                "description": "S&P 500",
                "proName": "SP:SPX"
            },
            {
                "description": "NASDAQ",
                "proName": "INDEX:NASX"
            },
            {
                "description": "Japan Nikkei 225",
                "proName": "INDEX:NKY"
            },
            {
                "description": "Hong Kong Hang Seng",
                "proName": "INDEX:HSI"
            },
            {
                "description": "France CAC 40",
                "proName": "INDEX:CAC"
            },
            {
                "description": "Germany DAX",
                "proName": "INDEX:DAX"
            }
        ],
                "locale": "en"
        }
    </script>
</div>
<!-- TradingView Widget END -->
