{% extends "main.html" %}
{% load staticfiles %}
{% block home_active %}active{% endblock %}
{% block title %}Home{% endblock %}
{% load rhweb_tags %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}">

    <script type="text/javascript" src="{% static 'datatables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/stocks.js' %}"></script>
{% endblock %}

{% block body %}

    {% get_saves request.user.username as saves %}

    <div class="row mt-2">
        <div class="col">
            <div class="float-left">
                Share: <a target="_blank"
                          href="https://{{ request.META.HTTP_HOST }}{% url 'share_view' share_id=data.share_id %}">
                https://{{ request.META.HTTP_HOST }}{% url 'share_view' share_id=data.share_id %}</a>

                <a href="#" class="copy-data" data-clipboard-text="https://{{ request.META.HTTP_HOST }}{% url 'share_view' share_id=data.share_id %}">
                    <i class="fa fa-link" aria-hidden="true"></i></a>
            </div>
            <div class="float-right">

                {% include 'include/save-dropdown.html' with saves=saves %}

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% include 'securities.html' with securities=data.securities %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% include 'include/tradingview-overview.html' with symbols=data.symbols %}
        </div>
    </div>

{% endblock %}
