{% extends "main.html" %}
{% block home_active %}active{% endblock %}
{% block title %}Home{% endblock %}

{% block head %}
	<!-- Place page specific head code here -->
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <p>
                Share Link: <a target="_blank"
                    href="https://{{ request.META.HTTP_HOST }}{% url 'v_share' share_id=data.share_id %}">
                    https://{{ request.META.HTTP_HOST }}{% url 'v_share' share_id=data.share_id %}</a>

                <a href="#" class="copy-data" data-clipboard-text="https://{{ request.META.HTTP_HOST }}{% url 'v_share' share_id=data.share_id %}">
                    <i class="fa fa-link" aria-hidden="true"></i>
                </a>
            </p>
        </div>
    </div>

    {% include 'include/securities.html' with securities=data.securities %}

{% endblock %}
