{% extends "main.html" %}
{% load staticfiles %}
{% block login_active %}active{% endblock %}
{% block title %}Login{% endblock %}

{% block head %}
    <!-- Place page specific head code here -->
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">

            <form class="submit-once" method="POST" name="login" id="login" action="{% url 'do_login' %}">
                {% csrf_token %}

                <label for="key" class="">Robinhood Username:</label>
                <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>

                <p></p>

                <label for="password" class="">Robinhood Password:</label>
                <input type="password" name="password" class="form-control" placeholder="Password" required>

                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% elif request.session.login_next_url %}
                    <input type="hidden" name="next" value="{{ request.session.login_next_url }}">
                {% endif %}

                <p></p>

                <div class="text-center">
                    <button id="login-button" class="btn btn-info center-block" type="submit">
                        Login to My Robinhood Web
                        <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>

                <div id="login-message">
                    {% if messages %}
                        <p></p>
                        <ul class="list-group text-center">
                            {% for message in messages %}
                                <li class="list-group-item list-group-item-{{ message.extra_tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <p></p>

                <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#password-modal">
                        Need Additional Assistance?
                        <i class="fas fa-info-circle"></i></a>
                </div>

                <p></p>

            </form>
        </div>
    </div>


    <div id="password-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-sm vertical-align-center" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center">Additional Support</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            1. E-Mail
                            <a href="mailto:support@alexa.com">
                                abuse@aol.com
                                <i class="far fa-envelope"></i></a>
                        </p>
                        <p>
                            2. Call Help at
                            <a href="tel:5555555555">
                                5555555555
                                <i class="fas fa-phone"></i></a>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <p class="text-center">Under Construction.</p>
                        <p class="text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
