{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
	<!-- Required tags for bootstrap -->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Meta -->
	<meta name="author" content="Shane Rice"/>
	<meta name="title" content="My Robinhood Web"/>
	<meta name="description" content="My Robinhood Web is a web interface to interact with Robinhood."/>

	<meta property="og:author" content="Shane Rice">
	<meta property="og:title" content="My Robinhood Web">
	<meta property="og:description" content="My Robinhood Web is a web interface to interact with Robinhood.">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{% url 'v_home' %}">
	<meta property="og:image" content="https://{{ request.META.HTTP_HOST }}{% static 'images/logo.jpg' %}">
	<meta property="og:image:type" content="image/png">

	<title>My Robinhood Web - {% block title %}{% endblock %}</title>

	<!-- Media -->
	<link rel="icon" href="{% static 'images/favicon.ico' %}">

	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'font-awesome/css/fontawesome-all.min.css' %}" rel="stylesheet">

	{% block head %}{% endblock %}
</head>
<body>

<!-- Main content -->
<div class="container-fluid">

    {% block heading %}
        <div class="row mt-2">
            <div class="col">
                <div class="float-left">
                    <a href="{% url 'v_home' %}" class="btn btn-primary btn-sm" role="button">
                        Home
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="float-right text-right">
                    {% if request.user.is_authenticated %}
                        <a href="" class="log-out btn btn-danger btn-sm" role="button" type="submit">
                            Log Out
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </a>
                        Logged in as: <strong><mark>{{ request.user.username|truncatechars:8 }}</mark></strong>
                    {% else %}
                        <p>You are not logged in...</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <h1>My Robinhood Web</h1>
            </div>
        </div>

        {% if messages %}
            <div class="row">
                <div class="col text-center">
                    <p></p>
                    {% for message in messages %}
                        <div class="alert alert-{{ message.extra_tags }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    {% endblock %}

    {% block body %}{% endblock %}

</div>

{% if request.user.is_authenticated %}
    <form id="log-out" action="{% url 'do_logout' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
    </form>
{% endif %}

<!-- JS imported at end to improve page loads -->
<script type="text/javascript" src="{% static 'bootstrap/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'clipboardjs/clipboard.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>
</html>
