{% extends "main.html" %}
{% load staticfiles %}
{% load rhweb_tags %}
{% block home_active %}active{% endblock %}
{% block title %}Share - {{ data.share_id }}{% endblock %}

{% block og_tags %}
    <meta property="og:title" content="{{ data.share_id }}'s Robinhood">
    <meta property="og:description" content="View {{ data.share_id }}'s Robinhood account and holdings.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}">
    <meta property="og:image" content="https://{{ request.META.HTTP_HOST }}{% static 'images/myrh.jpg' %}">
    <meta property="og:image:type" content="image/jpg">
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}">

    <script type="text/javascript" src="{% static 'datatables/datatables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/stocks.js' %}"></script>
{% endblock %}

{% block body %}


    <div class="row">
        <div class="col text-center">
            <h1>{{ data.share_id }} Robinhood</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="float-left">
                <p>Data Generated: <mark> {{ data.generated_at }} UTC</mark></p>
            </div>
            <div class="float-right">

                {% if request.user.is_authenticated %}
                    {% get_saves request.user.username as saves %}
                    <div class="float-left mr-2">
                        {% include 'include/save-dropdown.html' with saves=saves %}
                    </div>
                    <div class="float-right">
                        {% if data.share_id in saves %}
                            <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#delete-modal">
                                Delete
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#save-modal">
                                Save
                            </button>
                        {% endif %}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="row">
        {% include 'include/securities.html' with securities=data.securities %}
    </div>

    <!-- Modals -->
    <div class="modal fade" id="save-modal" tabindex="-1" role="dialog" aria-labelledby="save-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Save Share</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'save_share' %}" id="save-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="save-name">Save Share As</label>
                            <input type="text" class="form-control" id="save-name" aria-describedby="save-help" name="save-name" placeholder="Save Name" autofocus required>
                            <small id="save-help" class="form-text text-muted">Give the share a friendly name to remember it by.</small>
                        </div>
                        <input type="hidden" name="share-id" value="{{ data.share_id }}">
                        <input type="hidden" name="next" value="{{ request.get_full_path }}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="save-btn">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Share</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This feature is not yet available.</p>
                    <form method="post" action="{% url 'save_share' %}" id="delete-form">
                        {% csrf_token %}
                        <input type="hidden" name="delete-share" value="true">
                        <input type="hidden" name="share-id" value="{{ data.share_id }}">
                        <input type="hidden" name="next" value="{{ request.get_full_path }}">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="delete-btn">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
