{% extends "main.html" %}
{% load staticfiles %}
{% block home_active %}active{% endblock %}
{% block title %}Share - {{ data.share_id }}{% endblock %}

{% block og_tags %}
    <meta property="og:title" content="{{ data.share_id }}'s Robinhood">
    <meta property="og:description" content="View {{ data.share_id }}'s Robinhood account and holdings.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}">
    <meta property="og:image" content="https://{{ request.META.HTTP_HOST }}{% static 'images/myrh.jpg' %}">
    <meta property="og:image:type" content="image/jpg">
{% endblock %}

{% block head %}
	<!-- Place page specific head code here -->
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col text-center">
            <h1>{{ data.share_id }} Robinhood</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Data Generated: <mark> {{ data.generated_at }} UTC</mark></p>
        </div>
    </div>

    {% include 'include/securities.html' with securities=data.securities %}

{% endblock %}
