{% extends "main.html" %}
{% load staticfiles %}
{% block stock_active %}active{% endblock %}
{% block title %}Stock Search{% endblock %}

{% block og_tags %}
    <meta property="og:title" content="Meta Stock Search">
    <meta property="og:description" content="Get graphs and links on any publicly traded stock.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://{{ request.META.HTTP_HOST }}{{ request.path }}">
    <meta property="og:image" content="https://{{ request.META.HTTP_HOST }}{% static 'images/graph.jpg' %}">
    <meta property="og:image:type" content="image/png">
{% endblock %}

{% block head %}{% endblock %}

{% block body %}

    <div class="row mt-2">
        <div class="col text-center">

            <h1>{{ stock.symbol }}</h1>

            <form method="post" action="{% url 'stock_search' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Stock Symbol. Example: AAPL" name="symbol" required autofocus>
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit">Search</button>
                    </span>
                </div>
            </form>

        </div>
    </div>

    <div class="row mt-2">
        <div class="col">
            {% include 'include/market-overview.html' %}
        </div>
    </div>

{% endblock %}
